@model IEnumerable<Role>

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h1 class="text-primary">Role List</h1>
        </div>

        <div class="col-6 text-end pt-2">
            <a asp-controller="Role" asp-action="Create" class="btn btn-primary"><i class="bi bi-plus-circle"></i> Create New Role</a>
        </div>

    </div>
</div><br />


    <div class="row pt-4">
        <div class="col-6">
           
        </div>

        <div class="col-6 text-end pt-2">
        <input id="myInput" type="text" placeholder="Search Role..">
        </div>

    </div>
<table class="table table-border table-striped">
<thead>
    <tr>
        <th>Role Name</th>
       
        <th>Action</th>
    </tr>
</thead>
<tbody  id="myTable"> 
        @foreach(var obj in Model)
        {
            <tr>
                <td>@obj.Name</td>
               
                <td>
                    <div class="w-60 btn-group" role="group">
                    <a asp-controller="Role" asp-action="Edit" asp-route-id="@obj.Id" class="btn btn-primary mx-2" ><i class="bi bi-pencil-square"></i> Edit</a> | 
                    <a asp-controller="Role" asp-action="Delete" asp-route-id="@obj.Id" class="btn btn-danger mx-2"><i class="bi bi-trash"></i>Delete</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>